$color-background: #1A8166;
$color-borders: #152A35;
$color-squareempty: #152A35;
$color-square1: #EDE1B5;
$color-square2: #EFC56E;
$color-player1: #7CA6BB;
$color-player2: #D04D2C;
$color-selection: #FFFFFF;

$border-width: 6px;
$square-size: 9vmin;
$pawn-size: 45%;
